body {
    font-family:Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: 0.9rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 0;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.turn-div {
    display: flex;
    justify-content: center;
}
#turn-h3 {
    width: max-content;
    text-align: center;
}
.board {
    display: flex;
    justify-content: space-around;
}
span {
    /* background-color: red; */
    background-image: url('../media/pngaaa.com-402517.png');
    background-size: cover;
    display: inline-block;
    width: 4vw;
    height: 4vw;
    text-align: center;
    vertical-align: middle;
}

td {
    font-size: small;
    padding: 0;
    text-align: center;
    width: 8vh;
    min-width: 8vh;
    height: 8vh;
    max-height: 8vh;
    /* border: 1px solid #F9F9F9; */
    border: 1px solid rgb(68, 50, 50);
    background-color: #F9F9F9;
}
img {
    height: 90%;
    padding: 0;
    margin: 0;
}

select {
    background-color: #000;
    border: none;
    
}
option {
    color: #fff;
}
.stats-detail-container button {
        width: 40%;
}
button {
    /* width: 40%; */
    /* max-width: 240px; */
    height: 54px;
    padding: 8px;
    font-size: 0.8rem;
    font-weight: 900;
    color: rgb(255,70,85);
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
    position: relative;
    margin: 10px 0;
}
button:hover {
    color: rgb(236, 232, 225);
}
button:disabled {
    color: rgba(255,70,85,0.2);
}
.red-background {
    background-color: #da190b;
    color: whitesmoke;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(255,70,85); /* Redish */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 46%;
    top: 40%;
    z-index: 1000;
}
  
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

.controls {
    width: 25%;
    padding: 5px 10px;
}

.stats-detail-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* background-color: red;
    background-image: url('pngaaa.com-402517.png');
    background-size: cover;
    display: block;
    width: 4vw;
    height: 4vw; */
}

h1, .stats-detail-container h2 {
    width: 35%;
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    /* align-content: center; */
}
#attack, #enemy-attack, #bullRush, #enemy-bullRush {
    grid-column: 1;
}
#trip, #enemy-trip, #move-player, #move-enemy {
    grid-column: 2;
}
#charge, #enemy-charge {
    grid-column: 1 / 3;
}