



body {
    font-family: 'Cinzel', serif;
    height: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 0;
}
.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.turn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#turn-h3 {
    width: max-content;
    text-align: center;
}
.board {
    display: flex;
    justify-content: space-around;
}
.stats__counter, .turn-div {
    /* background-color: red; */
    background-image: url('../media/pngaaa.com-402517.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 4vw;
    height: 4vw;
    text-align: center;
    vertical-align: middle;
}
.stats__counter h2, #turn-h2 {
    color: #f3f3f3;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.stats-detail-container__holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 30%;
}
td {
    font-size: small;
    padding: 0;
    text-align: center;
    width: 8vh;
    min-width: 8vh;
    height: 8vh;
    max-height: 8vh;
    /* border: 1px solid #F9F9F9; */
    border: 1px solid rgb(68, 50, 50);
    background-color: #F9F9F9;
}
img {
    height: 90%;
    padding: 0;
    margin: 0;
}

select {
    /* background-color: rgb(199, 179, 179); */
    border: 1px solid #350f0d;
    color: rgb(54, 26, 29);
    margin-top: 40px;
}
select:hover {
    box-shadow: 0 0 10px #da190b;
    transition: 450ms;
}
select:not(:hover) {
    transition: 450ms;
}
option {
    color: rgb(255,70,85);
}
.stats-detail-container button {
        width: 40%;
}
button {
    width: 100%;
    /* border: hidden; */
    max-width: 100%;
    font-family: 'Cinzel', serif;
    height: 54px;
    /* padding: 0; */
    font-size: 0.8vw;
    font-weight: 900;
    color: rgb(54, 26, 29);
    /* background-color: black; */
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    /* box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3); */
    position: relative;
    margin: 1%;
    transition: 450ms;
    box-sizing: border-box;
}
button:hover {
    box-shadow: 0 0 10px #da190b;
    color: rgb(167, 49, 59);
    font-size: 1vw;
    letter-spacing: 0.1vw;
}

button:disabled {
    color: rgba(44, 29, 31, 0.2);
    box-shadow: none;
    font-size: 0.8vw;
    letter-spacing: initial;
}
.red-background {
    background-color: #da190b;
    color: whitesmoke;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid rgb(255,70,85); /* Redish */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 46%;
    top: 40%;
    z-index: 1000;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.controls {
    width: 25%;
    padding: 5px 10px;
}

.stats-detail-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    /* background-color: red;
    background-image: url('pngaaa.com-402517.png');
    background-size: cover;
    display: block;
    width: 4vw;
    height: 4vw; */
}

/* .stats-detail-container h2 {
    width: 35%;
    vertical-align: middle;
} */

.buttons__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#charge, #enemy-charge {
    /* grid-column: 1 / 3; */
    width: 100%;
}
.btn-control {
    /* grid-column: 1; */
    width: 48%;
}